<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdQSgy5fEiAbQlq6U7YSyVw_o1dX0RpPM</string>
	<key>GCM_SENDER_ID</key>
	<string>367381584209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterIt14proj</string>
	<key>PROJECT_ID</key>
	<string>cashflowdb-d4f0f</string>
	<key>STORAGE_BUCKET</key>
	<string>cashflowdb-d4f0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367381584209:ios:a0096f7a31fabc2747db70</string>
</dict>
</plist>